<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501761619525-obugh21fhrsrc0u0r1nam7fru4eqtsi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501761619525-obugh21fhrsrc0u0r1nam7fru4eqtsi3</string>
	<key>API_KEY</key>
	<string>AIzaSyDG7hd54sxg7SbEUYXrOpxf5zefoT8Grk8</string>
	<key>GCM_SENDER_ID</key>
	<string>501761619525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minhasVacinas</string>
	<key>PROJECT_ID</key>
	<string>vaccinas-f2caa</string>
	<key>STORAGE_BUCKET</key>
	<string>vaccinas-f2caa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501761619525:ios:64152c5e85c44d620f952c</string>
</dict>
</plist>